body {
  background: #fdf6e3;
}

.layout {
  display: grid;
  grid-template-columns: 1fr auto; /* anchor controls to the right */
}

.column {
  padding-right: 20px;
}

.space {
  width: 2ch;
  display: inline-block;
  text-align: center;
}

#visualization > .row {
  height: 2ch;
  display: flex;
}

.cross {
  position: relative;
  display: inline-block;
  width: 2ch;
  height: 2ch;
}

.over, .under {
  display: inline-block;
  position: absolute;
}

.over {
  z-index: 1;
}

.under {
  z-index: 0;
}

.warp, .weft {
  border-color: rgba(0,0,0,.5);
  border-style: solid;
  box-sizing: border-box;
}

.warp {
  top: 0;
  left: 15%;
  width: 70%;
  height: 2ch;
  /* not totally convinced i like this border but whatever */
  border-width: 0px 1px;
}

.weft {
  top: 15%;
  left: 0;
  width: 2ch;
  height: 70%;
  border-width: 1px 0px;
}

.heddle-position-history {
  font-size: 1.8ch;
  padding-left: 0.5ch;
}

color-picker {
  height: 2ch;
  width: 2ch;
}
